@model Product
@{
    ViewBag.Title = "Ürün Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-lg-6">
            <section class="panel">
                <header class="panel-heading">
                    @ViewBag.Title
                </header>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ürün Adı</label>
                            @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", placeholder = "Ürün Adı Girin" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ürün Fiyatı</label>
                            @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control", placeholder = "Ürün Fiyat Girin" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ürün Stok Adet</label>
                            @Html.TextBoxFor(x => x.UnitsInStock, new { @class = "form-control", placeholder = "Ürün Stok Adet Girin" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ürün Kategorisi</label>
                          @Html.DropDownList("Categories","Kategori Seç")
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ürün Tedarikçisi</label>
                            @Html.DropDownList("Suppliers", "Tedarikçi Seç")
                        </div>
                        <button type="submit" class="btn btn-info">Submit</button>
                    }


                </div>
            </section>
        </div>
    </div>

