@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-6">
                <h2>Kullanıcılar</h2>
            </div>
            <div class="col-lg-6">
                <a asp-action="Register" asp-controller="User" class="btn btn-success float-right">Kayıt Ol</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Count() > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>
                            <a asp-action="ResetPassword" asp-controller="User" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Şifre Güncelle</a>
                        </td>
                        <td>
                            <a asp-action="AssignAdminRole" asp-controller="Role" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Admin Yap</a>
                        </td>
                        <td>
                            <a asp-action="AssignUserRole" asp-controller="Role" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Kullanıcı Yap</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning text-center">
                <span>Herhangi bir kullanıcı eklenmemiş!</span>
            </div>
        }
    </div>
</div>

